.toggleButton{
	font-size: 1.5em;
	padding: 5px;
	position: absolute;
	left: 1px;
	z-index: 3;
	top: 50px;
}
#sidebar{
	padding-top: 40px;
}
.tab-content{
    padding-top: 25px;
}
.nav.nav-tabs li a{
    color: #971D31 ;
}
.nav-tabs > li > a{
    border-radius: 0 0 0 0;
}
.modal-content{
    border-radius: 0px;
    background-color: #F8F8F8;
}
.modal-footer, .modal-header{
    padding: 10px;
}
.modal-body{
    background-color: #FFF;
}
.modal-body.form-horizontal.form-group{
    margin-bottom: 0px;
}
.btn{
    border-radius: 0px;
}
#endpointDataTable{
    margin: 15px;
}