'
<div class="panel panel-__COLOR__">'
    +'
    <div class="panel-heading">'
        +'
        <div class="row">'
            +'
            <div class="col-xs-3">'
                +'<i class="fa fa-__ICON__ fa-5x"></i>'
                +'
            </div>
            '
            +'
            <div class="col-xs-9 text-right">'
                +'
                <div class="huge">__VALUE__</div>
                '
                +'
                <div>__NAME__</div>
                '
                +'
            </div>
            '
            +'
        </div>
        '
        +'
    </div>
    '
    +'<a href="#">'
        +'
        <div class="panel-footer">'
            +'<span class="pull-left">View Details</span>'
            +'<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>'
            +'
            <div class="clearfix"></div>
            '
            +'
        </div>
        '
        +'</a>'
    +'
</div>'