<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Sauron - Always watching over your apps</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/assets/css/signin.css}" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" type="text/javascript"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div class="row">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">Username or password wrong</div>
    </div>
    <div class="row">
        <div th:if="${param.logout}" class="alert alert-success" role="alert">Logout Successfully
        </div>
    </div>
    <form class="form-signin" th:action="@{/applications}" method="post" th:object="${applicationId}">
        <div class="page-header text-center">
            <h1 class="form-signin-heading">SAUR<span class="glyphicon glyphicon-eye-open" aria-hidden="true"/>N</h1>

            <h2>
                <small>Always watching over your apps</small>
            </h2>
        </div>
        <label class="sr-only">Application Name</label>
        <input type="text" th:field="*{name}" class="form-control" placeholder="Username" required="true"/>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
<!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/assets/js/ie10-viewport-bug-workaround.js}" type="text/javascript"></script>
</body>
</html>
